<%= form_with(model: cotizador, local: true) do |form| %>
  <% if cotizador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cotizador.errors.count, "error") %> prohibited this cotizador from being saved:</h2>

      <ul>
        <% cotizador.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
